.recipe-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 300%;
    background-color: black;
    /* align-items: center; */
}