/* RecipeCard.css */
.recipe-card {
  border-style: solid;
  border-color: #04070D;
  border-width: 3px;
  border-radius: 30px;
  overflow: hidden;
  margin: 16px;
  max-width: 30%;
  max-height: 250px;
  box-shadow: 0 2px 4px rgba(151, 104, 23, 0.663);
  padding-bottom: 15px;
}

.recipe-details {
  padding-left: 16px;
  padding-top: 5px;
  padding-right: 16px;
}

.recipe-title {
  font-size: 1.2rem;
  margin-bottom: 8px;
  margin-top: 8px;
  font-family: 'Poppins', sans-serif;
}

.recipe-description {
  color: #555;
  margin-bottom: 12px;
  font-family: 'Poppins', sans-serif;
}

.recipe-button {
  background-color: #87b262;
  color: white;
  /* padding: 8px 16px; */
  border: none;
  border-radius: 30px;
  cursor: pointer;
  height: 35px;
}

.recipe-button:hover {
  background-color: #759d52;
}
    
