body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: #F2E8D5;
}

.App {
    background-color: #F2E8D5;
    height: 100vh;
    width: 100vw;
    display: flex; 
    flex-direction: column;
  }
  
  .search-bar-container {
    padding: 90px 20vh 20vh; /* Adjusted padding to include the top bar height */
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
  } 
  
  .top-bar {
    background-color: #D6D979;
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    border-bottom: 4px solid #04070D;
  }
  
  .title-textbox {
    font-size: 500%;
    text-align: center;
    margin: 20px;
    font-family: 'Poppins', sans-serif;
    color: #04070D;
    font-weight: bold;
    letter-spacing: 1px;
    display: flex;
  }
  
  .title-textbox::placeholder {
    color: #04070D;
  }

  .main-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1500px;
  }

  @media screen and (max-width: 1000px){
    button {
        width: 60px;
    }
    .search-bar-container{
        padding: 30px;
        flex-direction: column
    }
    .App{
      margin-top: 30px;
      display: block;
    }
}

@media screen and (max-width: 1500px){
  button {
      width: 60px;
  }
  .search-bar-container{
      padding: 50px;

  }
}

.recipe-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-content: center;
  max-width: 1000px; /* Adjust the max-width as needed */
  margin: 20px auto; /* Adjust margin as needed */
}
